/* 
Colors:
hero text color #FFFFFF 
primary text  #212121
secondary text #757575
accent color #2196F3 

Fonts:
logo font: Raleway 400 bold
main font Roboto 500 900 normal 400 bold 700
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;

*/
:root {
  --hero-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --button-background-color: #f5f4fa;

  --hero-text-color: #ffffff;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;

  --logo-font: "Raleway", sans-serif;
}
body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*================HEADER================*/
/* Logo */
.logo {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}
.logo-accent-color {
  color: var(--accent-color);
}

/* Header-nav */
.header-nav-item-link,
.header-contacts-item-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;
}
.header-nav-item-link:visited {
  color: var(--primary-text-color);
}
.header-contacts-item-link {
  color: var(--secondary-text-color);
}
.header-contacts-item-link:hover,
.header-contacts-item-link:focus {
  color: var(--accent-color);
}
.header-nav-item-link.is-current {
  color: var(--accent-color);
}
/*================END HEADER================*/
/*=====================MAIN=================*/
/* Hero */
.hero {
  background-color: var(--hero-background-color);
  height: 600px;
  width: 1600px;
}
.hero-title {
  color: var(--hero-text-color);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: var(--hero-text-color);
  background-color: var(--accent-color);
  text-decoration: none;
}
.hero-button {
  margin: 0 auto;
}

/* Advantages */
.advant-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advant-item-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team {
  background-color: var(--secondary-background-color);
}
.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-info-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-info-list-item-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Portfolio buttons */
.portfolio-btn, .button-portfolio-filter{
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.portfolio-link {
  text-decoration: none;
}
.portfolio-link:visited {
  color: var(--primary-text-color);
}
.portfolio-link > .portfolio-subtitle {
  color: var(--secondary-text-color);
}

/*==================END MAIN=================*/
/*==================FOOTER===================*/

.footer {
  background-color: var(--hero-background-color);
  width: 1600px;
  height: 252px;
}
.footer-logo {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}
.footer-contacts-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contacts-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
/*==================END FOOTER=================*/
